<!DOCTYPE html>
<html>
<!-- 2018 Jay Kelkar <jkelkar at gmail.com> -->
<!-- Free to use and share in any form -->

<head>
  <meta charset="utf-8">
  <title>Component talks II</title>
  <script src="../../node_modules/vue/dist/vue.min.js" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="../../static/css/examples.css" />
</head>

<body>
  <div id="app" class="fixed-width"> <!-- grand parent level -->
    <h2>Communicating with the grand</h2>
    <p>Passing event to grandparent</p>
    <div class="bord">
      Grandparent context
      <div class="grand" v-if="received">Grandchild speaks!</div>
      <div class="bord"> 
        Parent context
       <vspace ></vspace>
      </div>
    </div>
    <div class="notes" v-if="received">
    Alas! This works fine, but is not the ideal way to do it in a larger application.
    </div>
  </div>
  
  <script>
      Vue.component('vspace', {
        // this is the parent component
        template: `
<div>
  <div class="parent" v-if="kidtalks">The kid wants something</div>
  <div class="bord">
    Child context
    <vbutton>
    </vbutton>
  </div>
</div>
    `,
    
        data: function () {
          return {
            active: false,
            seen: false,
            kidtalks: false
          }
        },
        methods: {
          /*says: function () {
            let that = this
            this.active = !this.active
            this.$emit('said')
            setTimeout(function () {
             that.kidtalks = true
            }, 500)
          }*/
        }
      })

  Vue.component('vbutton', {
    // this is the child component
    template: `
<div>
  <button @click="action" :class="{'green': active, 'red': !active}">
    {{ btext }}
  </button>
</div>
`,

    data: function () {
      return {
        active: false,
        clicked: false,
        btext: 'Press It'
      }
    },
    methods: {
      action: function () {
        let that = this
        this.active = !this.active
        this.clicked = true
        this.ebus.$emit('speaks')
        //setTimeout(function () {
        //  that.clicked = false
        // }, 500) -->
      }
    }
  })
  // Main vue instance
const EventBus = new Vue()
Object.defineProperties(Vue.prototype, {
  ebus: {
    get () {
      return EventBus
    }
  }
})
  var app = new Vue({
    el: '#app',
    // data in global Vue instance can have constant values, but every other component
    // needs to return data values
    data: {
      received: false
    },
    mounted: async function () {
      console.log('M')
      this.ebus.$on('speaks', this.hear)
    },
    destroyed: function () {
      console.log('D')
      this.ebus.$off('speaks')
    },
    methods: {
      hear: function () {
        let that = this
        setTimeout(function () {
          that.received = true
        }, 2000)
      }
    }
  })
  </script>
</body>

</html>